body{
    background-color: #fffbf7;
}
.parrafo1 {
    color: #46484c;
    font-family: 'Bebas Neue', sans-serif;
    
}
h1 {
    color: #025157; 
}
.promocional {
    color: #8b8b8bcc;
    font-family: 'Playfair Display', serif;
}

.negritas {
    color: black;
}
label {
    color: black;
}

nav {
    margin: 20px;
    width: 75%;
    text-align: center;
    flex-direction: row;
    
}

li {
    vertical-align: top;
    margin-right: 25%;
    text-align: center;
    display: inline-block;
}

a {
    text-decoration: none;
    padding: 12px;
    width: 10%;
    text-align: center;
}

button {
    color: #fff;
    background-color: #b43908;
    width: 10%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-content: top;
} 






