body{
    background-color: #fffbf7;
}
.parrafo1 {
    color: #46484c;
}
h1 {
    color: #025157; 
}
.promocional {
    color: #8b8b8bcc;
}

.negritas {
    color: black;
}
label {
    color: black;
}

nav {
    display: inline-block;
    margin: 20px;
    width: 75%;
    text-align: center;
}

li {
    display: inline-block;
    vertical-align: top;
    margin-right: 25%;
}

a {
    text-decoration: none;
    padding: 12px;
    width: 15%;
    vertical-align: top; 
}

button {
    color: #fff;
    background-color: #b43908;
    width: 10%;
}






